<p></p>
{{#if isAuthenticated }}

<p>Hi <b>{{username}}</b>, you can start Azure Virtual Machines in a self-service approach.</p>
<a href="/auth/signout">Sign out</a>
<br>
<p></p>

<table class="table">
    <thead>
      <tr>
        <th scope="col">VM name</th>
        <th scope="col">Resource group</th>
        <th scope="col">Subscription</th>
        <th scope="col">State</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {{#each vmList}}
        <tr>
            <th scope="row">{{name}}</th>
            <td>{{resourceGroup}}</td>
            <td>{{subscriptionId}}</td>
            <td>{{powerState}}</td>
            {{#if isStopped}}
              <td><a href="/srv/{{vmId}}">Start</a></td>
            {{else}}
              <td></td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>

{{else}}
<p>Welcome to {{title}}</p>
<a href="/auth/signin">Sign in</a>
{{/if}}